<!doctype html>
<html>
  <head>
    <title>rockerBOO / Dave Lage</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Mono:700italic,Roboto' rel='stylesheet' type='text/css'>
    <script src="//cdn.muicss.com/mui-0.1.18/js/mui.min.js"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <header>
      <div class="mui-container">
        <svg class="brand" viewBox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
          <g stroke="#000" stroke-width="4" fill="none" stroke-linecap="square">
            <path d="M22 34c3 0 5-1 6.4-8 1.5-8-8.4-8-8.4-8s10 0 10.8-8c.8-8-4.8-8-9.8-8H11l-.4 2" class="b"/>
            <path d="M15 18c-6 0-7 1-8 5L5 33" class="r"/>
          </g>
        </svg>
        <h1 class="logo__title">rockerBOO</h1>
      </div>
    </header>
    <div class="mui-container">
      <div class="mui-panel">
        <ul class="mui-tabs mui-tabs-justified">
          <li<%= "/" |> active_top_level(@conn) |> raw %>><a href="/">About Me</a></li>
          <li<%= ["/projects", "/discovery", "/chatbot", "/virb"] |> active_top_level(@conn) |> raw %>><a href="/projects">Projects</a></li>
          <li<%= "/contact" |> active_top_level(@conn) |> raw %>><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
    <%= @inner %>
  </body>
</html>