<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- load MUI -->
    <script src="//cdn.muicss.com/mui-0.1.18/js/mui.min.js"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <div class="appbar mui-appbar">
      <div class="mui-container">
        <h1>rockerBOO</h1>
      </div>
    </div>


    <div class="mui-container">
      <div class="mui-panel">
        <ul class="mui-tabs mui-tabs-justified">
          <li class="mui-active"><a href="/">About Me</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact Me</a></li>
        </ul>
      </div>
    </div>
        <%= @inner %>
  </body>
</html>