@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

html, body {
  font-family: Roboto, Helvetica, Calabri, sans;
}

body {
  font-size: 2em;
  line-height: 1.5em;
}

header {
  padding: .5em;
}

h1 {
  line-height: 1;
  font-weight: 900;
  margin: 0;
  font-style: italic;
  font-family: "Roboto Mono", monospace;
}

h2 {
  font-size: 1.8em;
  padding-bottom: .4em;
  margin-bottom: .4em;
}

h2 strong {
  font-style: italic;
}

h3 {
  font-size: 1.2em;
  line-height: 1.3;
  border-bottom: 1px solid #074d4c;
}

a:hover {
  color: #f62f9f;
}

.main-container {
  font-family: "Roboto Slab", Helvetica, Calabri, sans;
}

.profile-image, .profile-image-small  {
  width: 100%;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

.profile-image {
  max-width: 1024px;
}

.profile-image-small {
  max-width: 400px;
}

.contact-modal {
  width: 400px;
  height: 300px;
  margin: 100px auto;
  background-color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.12)
}

.breadcrumb {
  font-weight: 200;
}


p.highlight {
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.6;
  margin: .3em;
}

ul.main-list {
  list-style: square;
  margin-top: 1em;
  padding-bottom: .6em;
  margin-bottom: .6em;

  li {
    line-height: 1.5em;
    font-size: 1.1em;
    font-weight: 300;
  }
}

@media (max-width: 575px) {
  body { font-size: 1.5rem; }
  p.highlight { font-size: 1.5rem; }
}
