      <div class="mui-container">
        <div class="mui-panel">
          <h2><a href="http://virb.com">Virb</a></h2>
          <p>Virb emerged as a trending social network, into innovated streams of media, into Web Builder.</p>
          <div class="profile-image-small">
            <img src="<%= static_path(@conn, "/images/projects/virb1.jpg") %>">
          </div>
        </div>
      </div>