.appbar h1 {
  line-height: 1;
  font-weight: 900;
  margin: 0;
  font-style: italic;
  font-family: "Roboto Mono";
}

h2 {
  font-size: 1.8em;
  padding-bottom: .4em;
  margin-bottom: .4em;
}

body {
  font-family: Roboto, Helvetica, Calabri, sans;
  font-size: 2em;
  line-height: 1.5em;
}

header {
  padding: .5em;
}

.mui-tabs li {
  background: rgba(28, 145, 144, 0.0);
}

.mui-tabs>li>a {
  cursor: pointer;
}

.mui-tabs-justified li:hover {
  background: rgba(62, 55, 99, 0.7);
  transition: background-color .3s ease-in;
}

.profile-image {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.profile-image img, .profile-image-small img {
  width: 100%;
}

.profile-image-small {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.contact-modal {
  width: 400px;
  height: 300px;
  margin: 100px auto;
  background-color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.12)
}

.breadcrumb {
  font-weight: 200;
}

.project-block {
  margin-bottom: .6em;
}

.project-block img{
  width: 100%;

}

.elirc, .discovery {
  margin: 0 auto;
  height: auto;
  padding-top: 39%;
  padding-bottom: 39%;
  text-align: center;
}

.discovery {
  background-color: #673AB7;
}

.elirc{
  background-color: #010101;
}

.elirc a {
  width: 100%;
  height: 100%;
}

.elirc img {
  width: 90%;
}

