$letters: r1 o c k e r2 B O1 O2;

.rockerboo-logo {
  width: 300px;
  margin-top: .3em;
  margin-left: 1em;

  path {
    fill: #FFF;
    strokeWidth: 2;
    animation: pop 250ms cubic-bezier(.2, 1.25, 1, 1.25) forwards;
    transform-origin: 15% 50%;
    transform: scale(0) translateY(-10px);
    opacity: 0;
  }

  @each $letter in $letters {
    $i: index($letters, $letter);
    $delay: 30 * $i;

    .#{$letter} {
      animation-delay: #{$delay}ms;
    }
  }

}

@keyframes pop {
  //from {  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}