.brand {
  margin-top: .3em;
  margin-left: .6em;

  width: 5em;
  vertical-align: baseline;

  .r,
  .b {
    animation: first 1.65s cubic-bezier(.59,.22,.02,.85) forwards;

    stroke: rgba(255, 255, 255, 0);
  }

  .b {
    stroke-dasharray: 67;
    stroke-dashoffset: 67;
  }

  .r {
    stroke-dasharray: 21;
    stroke-dashoffset: 21;
    animation-delay: .25s;
  }
}

.logo__title {
  position: relative;
  bottom: .3em;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 600;
  font-style: italic;
  display: inline;
  animation: second 1.0s cubic-bezier(.59,.22,.02,.85) forwards;
  opacity: 0;
  transform: translateX(-.3em);
  font-size: 3.75em;
}

@keyframes first {
  to {
    stroke-dashoffset: 0;
    stroke: #FFF;
  }
};

@keyframes second {
  to {
    opacity: 1;
    transform: translateX(0);
  }
};